.reveal_fadein_letter {
  opacity: 0;
}

.reveal_fadein_letter.hidden {
  opacity: 0;
}

.reveal_fadein_letter.active {
  opacity: 1;
}

.reveal_fadein_letter>span {
  opacity: 0;
  transition: opacity 400ms cubic-bezier(1, 0, 0.1, 1);
}

.reveal_fadein_letter.active>span {
  opacity: 1;
}

.reveal_tran_tb {
  opacity: 0;
  transform: translate(0, -2.5vw);
}

.reveal_tran_bt {
  opacity: 0;
  transform: translate(0, 2.5vw);
}

.reveal_tran_rl {
  opacity: 0;
  transform: translate(2.5vw, 0);
}

.reveal_tran_lr {
  opacity: 0;
  transform: translate(-2.5vw, 0);
}

.reveal_tran_tb.active,
.reveal_tran_bt.active,
.reveal_tran_rl.active,
.reveal_tran_lr.active {
  transition: transform 750ms ease 100ms, opacity 750ms ease-in-out 100ms;
  opacity: 1;
  transform: translate(0, 0);
}

.reveal_tran_tb.hidden,
.reveal_tran_bt.hidden,
.reveal_tran_rl.hidden,
.reveal_tran_lr.hidden {
  visibility: hidden;
  opacity: 0;
  transition: transform 1s, visibility 0s 1s, opacity 1s ease-out;
}

.reveal_tran_tb.hidden a,
.reveal_tran_bt.hidden a,
.reveal_tran_rl.hidden a,
.reveal_tran_lr.hidden a {
  pointer-events: none;
  cursor: default;
}


.shopify-section--images-list {
  max-width: 699px;
  margin: auto;
}


:root {
  --animate-duration: 5s;
  --animate-delay: 1s;
  --animate-repeat: 1
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
@media (prefers-reduced-motion:reduce),
print {
  .animate__animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important
  }

  .animate__animated[class*=Out] {
    opacity: 0
  }
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  3% {
    -webkit-transform: translate3d(-6.25%, 0, 0) rotate(-2.5deg);
    transform: translate3d(-6.25%, 0, 0) rotate(-2.5deg)
  }

  6% {
    -webkit-transform: translate3d(5%, 0, 0) rotate(1.5deg);
    transform: translate3d(5%, 0, 0) rotate(1.5deg)
  }

  9% {
    -webkit-transform: translate3d(-3.75%, 0, 0) rotate(-1.5deg);
    transform: translate3d(-3.75%, 0, 0) rotate(-1.5deg)
  }

  12% {
    -webkit-transform: translate3d(2.5%, 0, 0) rotate(1deg);
    transform: translate3d(2.5%, 0, 0) rotate(1deg)
  }

  15% {
    -webkit-transform: translate3d(-1.25%, 0, 0) rotate(-1deg);
    transform: translate3d(-1.25%, 0, 0) rotate(-1deg)
  }

  20% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  3% {
    -webkit-transform: translate3d(-6.25%, 0, 0) rotate(-2.5deg);
    transform: translate3d(-6.25%, 0, 0) rotate(-2.5deg)
  }

  6% {
    -webkit-transform: translate3d(5%, 0, 0) rotate(1.5deg);
    transform: translate3d(5%, 0, 0) rotate(1.5deg)
  }

  9% {
    -webkit-transform: translate3d(-3.75%, 0, 0) rotate(-1.5deg);
    transform: translate3d(-3.75%, 0, 0) rotate(-1.5deg)
  }

  12% {
    -webkit-transform: translate3d(2.5%, 0, 0) rotate(1deg);
    transform: translate3d(2.5%, 0, 0) rotate(1deg)
  }

  15% {
    -webkit-transform: translate3d(-1.25%, 0, 0) rotate(-1deg);
    transform: translate3d(-1.25%, 0, 0) rotate(-1deg)
  }

  20% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.animate__wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble
}